<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
  *ngIf="isLoggedIn"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  routerLink="/dashboard" routerLinkActive="active"><span class="navIcon material-icons">insights</span> Statistics</a>
      <a mat-list-item routerLink="/coins" routerLinkActive="active"><span class="navIcon material-icons">monetization_on</span> Coin</a>
      <a mat-list-item routerLink="/adsUnits" routerLinkActive="active">
        <span class=" navIcon material-icons" routerLinkActive="active">featured_video</span>Advertise</a>
      <a mat-list-item routerLink="/business" routerLinkActive="active">
        <span class="navIcon material-icons"routerLinkActive="active">business</span>Business</a>
      <a mat-list-item routerLink="/products" routerLinkActive="active"> <span class=" navIcon material-icons">production_quantity_limits</span>Product</a>

      <a mat-list-item routerLink="/projects" routerLinkActive="active"> <span class=" navIcon material-icons">group_work</span>projects</a>
      <a mat-list-item routerLink="/auth/users" routerLinkActive="active"> <span class=" navIcon material-icons">people_outline</span>Users</a>
      <a mat-list-item class="nav-link pointer" (click)="logout()"> <span class=" navIcon material-icons">verified</span>Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isLoggedIn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onSideNavToggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Deeno</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
