.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 250px;
  background-image: linear-gradient(to bottom right, rgb(17, 2, 223), rgb(3, 115, 119));

}

.sidenav .mat-toolbar {
  background:rgb(8, 125, 235);
  color:white ;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-base .mat-list-item{
  color: white;
  font-weight: 27px;
  height: 60px;
}

.navIcon{
  margin-right: 1rem;
  font-weight: 35px !important;
}

.active{
  background-color: rgb(1, 92, 184);

  }
