<div class="container" id="export-pdf" >
  <div class="toolbar">
<mat-card> </mat-card>
    <mat-card class="">
<button mat-button (click)="onDownloadPdf()" > Export pdf</button>
<mat-card class="statistic">
  <div class="body-Chart">

    <canvas id="myChart" width="700" height="500"></canvas>

  </div>
</mat-card>
<mat-card class="statistic">
  <div class="body-Chart">

    <canvas id="barChart" width="700" height="500"></canvas>

  </div>
</mat-card>
  <mat-card class="statistic">
    <div class="body-adChart">

      <canvas id="stBarChart" width="800" height="500"></canvas>

    </div>
  </mat-card>
</mat-card>

</div>
</div>




