.marge {
  margin-top: 1%
}
.container{
width: 100%;
}
.body-Chart{
  width: 33%;
  display: inline-block;
  margin: 20px;
}
.example-card {
  max-width: 400px;
  margin: 10px;
  display: inline-block;
}
.statistic
{
  display: inline;
  margin: 10 10 10 10;
}
