<!-- <app-widget-search-bar></app-widget-search-bar> -->
<nav class="navbar navbar-light bg-light">
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->

    <app-widget-search-bar-button></app-widget-search-bar-button>


</nav>
<div class="space">

  <table class="table table-hover">
    <thead>
      <tr>
        <td>Coin Name</td>
        <td>Coin Price</td>
        <td>Date</td>
        <td>Action

        </td>
        <td> <button class="nav-link" routerLink="/add" class="btn btn-primary">
          <span class=" navIcon material-icons">add</span> Create</button></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let coin of coins">
        <td>{{coin.name}}  </td>
        <td>{{coin.price}}  </td>
        <td>{{coin.updatedAt | date:'medium'}}  </td>
              <td><button [routerLink]="['/edit', coin._id]"  class="btn btn-primary">
                <span class=" navIcon material-icons">edit</span> </button>
         <span> </span> <button (click)="deleteCoin(coin._id)" class="btn btn-danger">
          <span class=" navIcon material-icons">delete</span></button> </td>
      </tr>
    </tbody>
  </table>

</div>
