<!-- <app-widget-search-bar></app-widget-search-bar> -->
<nav class="navbar navbar-light bg-light">
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->

    <app-widget-search-bar-button></app-widget-search-bar-button>
    <td> <button class="nav-link" routerLink="/add" class="btn btn-primary">
      <span class=" navIcon material-icons">add</span> Create</button></td>

</nav>

<div class="space mat-elevation-z8">
  <table mat-table [dataSource]="coinData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Coin Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Coin Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="create">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'mediumDate'}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Updated </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'mediumDate'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> {{element.Action}}

        <button mat-fab color="accent" class="coinEditIcon"aria-label="icon button with a edit icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="accent" class="coinDeleteIcon" aria-label=" icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="pageLength"
                [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
