<div class="card">

  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Project Name</label>
        <input type="text" class="form-control"
          formControlName="projectName"
          #projectName />
      </div>
      <div *ngIf="angForm.controls['projectName'].invalid && (angForm.controls['projectName'].dirty || angForm.controls['projectName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['projectName'].errors.required">
          Project Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Story </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="story"
        #story></textarea>
      </div>
      <div *ngIf="angForm.controls['story'].invalid && (angForm.controls['story'].dirty || angForm.controls['story'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['story'].errors.required">
         Story is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Project Price</label>
        <input type="text" class="form-control"
          formControlName="duration"
          #duration
        />
      </div>
      <div *ngIf="angForm.controls['duration'].invalid && (angForm.controls['duration'].dirty || angForm.controls['duration'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['duration'].errors.required">
          Duration is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Start Time</label>
        <input type="date" class="form-control"
          formControlName="startTime"
          #startTime
        />
      </div>
      <div *ngIf="angForm.controls['startTime'].invalid && (angForm.controls['startTime'].dirty || angForm.controls['startTime'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['startTime'].errors.required">
          Start Time is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">End Time</label>
        <input type="date" class="form-control"
          formControlName="endTime"
          #endTime
        />
      </div>
      <div *ngIf="angForm.controls['endTime'].invalid && (angForm.controls['endTime'].dirty || angForm.controls['endTime'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['endTime'].errors.required">
          End Time is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">status Time</label>
        <input type="text" class="form-control"
          formControlName="status"
          #status
        />
      </div>
      <div *ngIf="angForm.controls['status'].invalid && (angForm.controls['status'].dirty || angForm.controls['status'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['status'].errors.required">
          status is required.
        </div>
      </div>
      <div class="form-group">
        <button (click) = "addProject(projectName.value, story.value, duration.value, startTime.value, endTime.value, status.value)" type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid" >
          Create Project
        </button>
</div>
    </form>
  </div>
</div>
